/bin/*
/code/.vs/*
/code/.qmake.stash
/code/SCEP/include/SCEP/Date.h
/code/SCEP/include/SCEP/Version.h
/setup/SCEP/.vs/*
/setup/SCEP/Debug/*
/setup/SCEP/Release/*
/tmp/*
env.ps1
*.sln
*.vcxproj
*.user
*.filters
*.rc